
*{
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding: 10px;
    max-width: 500px;
    margin: auto;
    background-color: white;
}
.quick_button{
    position: fixed;
    right: 10px;
}
#bottom_button{
    bottom: 10px;
}
html{
    background-color: rgb(0, 10, 30);
    scroll-behavior: smooth;
}
.code{
    color: red;
}
.example{
    background-color: rgb(224, 224, 224);
    padding: 10px;
    overflow-x: auto;
    max-height: 300px;
    display: block;
}
.output{
    display: block;
    padding: 10px;
    background-color: rgb(224, 224, 224);
}
.desc, .desc td, .desc th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}
.note{
    padding: 20px 10px 20px 10px;
    display: block;
    background-color: rgba(255, 255, 64, 0.795);
}


#navtop{
    background-color: rgb(76, 83, 143);
    margin: -10px -10px 10px 240px;
    padding: 10px;
    display: block;
}
#navtop li{
    display: inline-block;
    padding: 10px 0; 
    margin-right: 5px;
}
#navtop ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navtop a, #navside a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
#navtop a:hover, #navside a:hover{
    background-color: rgb(94, 102, 172);
}


#navside{
    background-color: rgb(76, 83, 143);
    overflow-y: scroll;
    float: left;
    margin: -70px 0 0 -8px;
    padding: 10px;
    width: 230px;
    height: 605px;
    position: fixed;
}
#navside ul{
    list-style-type: none;
    margin: 5px;
}
#navside li{
    margin-left: -50px;
}
#navside a{
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    padding: 5px;
}


#content{
    margin-left: 260px;
}


#lay-out_example, #lay-out_example tr, #lay-out_example td{
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}

@media only screen and (max-width: 600px) {
    #navside{display: none;}
    #navtop{margin: -10px -10px 10px -10px;}
    #content{margin: 0px;}
}